@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Volkhov', serif;
}

h3 {
    color: #DF6951;
    text-transform: uppercase;
}

.container {
    max-width: 1160px;
    margin: auto;
}

.section-intro {
    text-align: center;
}

.section-intro p {
    font-size: 18px;
    font-weight: 700;
}

.section-intro h2 {
    font-size: 50px;
    color: #14183e;
    margin-bottom: 24px;
}

.hero-bg {
    background-image: url('/images/Decore.png');
    background-repeat: no-repeat;
    background-position: right top;
}

/* ===============================
        Navbar Style 
==================================*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    font-weight: 600;
    color: #212832;
}

.menu-bar {
    font-family: 'Noto Sans KR', sans-serif;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item {
    margin: 0 6px;
    padding: 6px 16px;
}

.menu-link {
    text-decoration: none;
}

.sign-up {
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 8px 20px;
}

/* ===============================
        Hero Section style
==================================*/
.hero-section {
    display: flex;
    align-items: center;
}
.intro-text {
    max-width: 50%;
}
.intro-text h1 {
    color: #181E4B;
    font-size: 84px;
    line-height: 1;
    letter-spacing: -4%;
}

.intro-image img {
    width: 100%;
}

.highlight {
    position: relative;
}

.highlight::after {
    content: url("/images/subscribe/Decore.png");
    position: absolute;
    width: 90%;
    left: 0;
    top: 35px;
    z-index: -1;
}

/* ===========================
        Category Section
==============================*/
.category-section {
    text-align: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-category {
    cursor: pointer;
    width: 250px;
    padding: 40px;
    margin: 16px 10px;
    border-radius: 36px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    transition: all ease-in-out 0.5s;
}

.single-category:hover {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

/* =============================
        Destination Section
================================*/
.destinations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.single-destination {
    max-width: 300px;
    margin: 10px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.single-destination img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.single-destination p {
    padding: 0 16px 10px;
}

/* ===============================
        Brands Section Style
==================================*/
.brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.brand img {
    width: 100%;
}

/* ===============================
        Subscribe Section Style
==================================*/
.subscribe-section {
    background-image: url('/images/bg-decor-1.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.subscribe-section .container {
    padding: 80px;
    border-radius: 20px;
    background: #DFD7F9 url("/images/subscribe/subscribe-decor-left.png") no-repeat bottom left;
}

.subscribe-section h2 {
    font-family: 'Poppins', sans-serif;
    width: 70%;
    margin: auto;
}

.input-group {
    text-align: center;
    margin-top: 30px;
}

.subscribe-section input {
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    outline: none;
}

/* =================================
        Footer Section Style
====================================*/
.footer-content {
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
}

footer p {
    text-align: center;
}